<%include partials/header%>
<div class="ui segment">
<a href="/view/<%=data%>" class="ui basic button">Back</a>
<h1>You are not authorised to update or delete others posts.</h1>
<a href="/view/<%=data%>" class="ui secondary button">BACK</a>

</div>
<%include partials/footer%>