<%include partials/header%>
<div class="ui inverted segment">
<h3>Login Here!!</h3>
<form class="ui inverted form" action="/login" method="POST">
<div class="two fields">
<div class="field">
<label>Username:</label>
<input type="text" name="username" placeholder="Username">
</div>
<div class="field">
<label>Password:</label>
<input type="password" name="password" placeholder="Password">
</div>
</div>
<input class="ui primary button" type="submit">
</form>
</div>
<%include partials/footer%>