<!DOCTYPE html>
<html>
<head>
	<title>Semantic UI</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body style="background: #F6F6F6">
<div class="ui inverted menu" style="position: sticky; top: 0; z-index: +1;">
	<div class="ui container">
	<a href="#" class="item"><i class="in flag"></i></a>
	<a  href="#" class="item"><b>Home</b></a>
	<a href="/about" class="item">About</a>
	<a href="/rateus" class="item">Rate Us</a>
	<div class="right menu">
		<%if(!user){%>
		<a href="/" class="item"><b>Login</b></a>
		<a href="/signup" class="item">Signup</a>
		<%} else {%>
		<a href="/profile/<%=user.id%>" class="item"><b>Hii, <%=user.username%></b></a>
		<a href="/logout" class="item">Logout</a>
		<%}%>
	</div>
	</div>
</div> 
<div class="ui container" style="width:60%;">

<div class="ui inverted segment">
<h2 align="center">profile!!</h2>
<form class="ui inverted form" action="/profile/<%=data%>" method="POST">
<div class="two fields">
<div class="eight wide field">
<label>Full Name: </label>
<input type="hidden" name="ide" value="<%=data%>">
<input type="text" size="25" name="name" placeholder="Enter Name" required>
</div>
<div class="eight wide field">
<label>Gender: </label>
<select name="gender" required>
	<option>Male</option>
	<option>Female</option>
	<option>Other</option>
</select>
<!-- <input type="text" size="13" name="gender" placeholder="Gender" required> -->
</div>
</div>
<div class="two fields">
<div class="eight wide field">
<label>Profile Type: </label>
<select name="protype" required>
	<option>Business</option>
	<option>Customer</option>
</select>
</div>
<div class="eight wide field">
<label>Experience(for Business Profile): </label>
<input type="text" size="13" name="expr" placeholder="Experience (years)" required>
</div>
</div>
<div class="two fields">
<div class="eight wide field">
<label>Profile Image (Enter image link): </label>
<input type="text" name="image" placeholder="Image Link" value="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" required>
</div>
<div class="eight wide field">
<label>Work: </label>
<input type="text" size="40" name="work" placeholder="Work">
</div></div>
<div class="two fields">
<div class="eight wide field">
<label>Home Town: </label>
<input type="text" size="150" name="home" placeholder="Home Town">
</div>
<div class="eight wide field">
<label>Phone:</label>
<input type="text" size="10" name="contact" placeholder="Contact">
</div></div>
<div class="two fields">
<div class="eight wide field">
<label>Date of Birth (dd/mm/yyyy): </label>
<input type="text" size="11" name="dob" placeholder="Date of Birth">
</div>
<div class="eight wide field">
<label>E-mail:</label>
<input type="text" size="10" name="mail" placeholder="E-mail">
</div></div>
<div class="eight wide field">
<label>About (less than 1000 words): </label>
<textarea type="text" size="1000" name="about">
</textarea></br></br>
<input class="ui small primary button" type="submit" value="Submit">
</form>
<br/>
</div>
<%include partials/footer%>