<!DOCTYPE html>
<html>
<head>
	<title>Rate Us</title>
</head>
<body>
	<h1>Rate Us Page</h1>
	<form action="/rate" method="POST" >
	<input type="radio" name="rad" value=1 />1
	<input type="radio" name="rad" value=2 />2
	<input type="radio" name="rad" value=3 />3
	<input type="radio" name="rad" value=4 />4
	<input type="radio" name="rad" value=5 />5<br/>
	<input type="radio" name="rad2" value=1 />1
	<input type="radio" name="rad2" value=2 />2
	<input type="radio" name="rad2" value=3 />3
	<input type="radio" name="rad2" value=4 />4
	<input type="radio" name="rad2" value=5 />5<br/>
	<input type="radio" name="rad12" value=1 />1
	<input type="radio" name="rad12" value=2 />2
	<input type="radio" name="rad12" value=3 />3
	<input type="radio" name="rad12" value=4 />4
	<input type="radio" name="rad12" value=5 />5<br/>
	<input type="radio" name="rad22" value=1 />1
	<input type="radio" name="rad22" value=2 />2
	<input type="radio" name="rad22" value=3 />3
	<input type="radio" name="rad22" value=4 />4
	<input type="radio" name="rad22" value=5 />5<br/>
	<input type="submit"/><br/>
</form>
</body>
</html>
