<!DOCTYPE html>
<html>
  <head>
  	<title>Profile Created</title>
  </head>
  <body>
<center><h2>Profile Created!!</h2>
  	<a href="<%=ide%>">View Profile</a>
  	<h5> or </h5>
  	<a href="/">Go Home</a>
  	</center>
  </body>
</html>