<%include partials/header%>
<div class="ui segment">
<a href="/" class="ui basic button">Back</a>
<h1>Create Your Job.</h1>
<div class="ui segment">
<form class="ui form" action="/land" method="POST">
<div class="field">
<input type="hidden" name="likes" value="0">
<input type="hidden" name="pstname" placeholder="Name of Post" value="<%=data%>">
<div>
<div class="field">
<label>Job: </label>
<input type="text" name="job" placeholder="Enter Job" required>
</div>
<div class="field">
<label>Location: </label>
<input type="text" name="location" placeholder="Location of Work">
</div>
<div class="field">
<label>Experience: </label>
<input type="text" name="expr" placeholder="Experience Required">
</div>
<div class="field">
<label>Write 'description' (What to be done): </label>
<textarea name="description"></textarea>
</label></br></br>
<input type="submit" class="ui basic green button">
</form>
</div>
</div>
<%include partials/footer%>